<div class="row">
    <div class="col-xs-12">

    <div class="x_panel">
        <div class="x_title">
            <h2 class="panel-heading">Most Active Stocks</h2>
            <!-- <div class="panel-time"> Last updates are posted 4 hours ago</div> -->


            <div class="clearfix"></div>
        </div>


        <div class="x_content">
            <nvd3 options="Companydetails" api="api4"></nvd3>
            <table st-table="rowCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th>Stock</th>
                        <th>Date</th>
                        <th>5th Percentile</th>
                        <th>25th Percentile</th>
                        <th>75th Percentile</th>
                        <th>95th Percentile</th>
                        <th>Change(%)</th>
                    </tr>

                </thead>
                <tbody>
                    <tr ng-repeat="row in rowCollection ">

                        <td><a class="text-uppercase" ng-href=#!finance/detail/{{row.stock}}>{{row.stock}}</a></td>
                        <td><a ng-href=#!finance/detail/{{row.stock}}>{{row.stDate | date : "dd/MM/y "}}</a></td>
                        <td><a ng-href=#!finance/detail/{{row.stock}}>{{row.fifthPercentile| number:3}}</a></td>
                        <td><a ng-href=#!finance/detail/{{row.stock}}>{{row.twentyFifthPercentile| number:3}}</a></td>
                        <td><a ng-href=#!finance/detail/{{row.stock}}>{{row.seventyFifthPercentile| number:3}}</a></td>
                        <td><a ng-href=#!finance/detail/{{row.stock}}>{{row.nintyFifthPercentile| number:3}}</a></td>
                        <td><a ng-href=#!finance/detail/{{row.stock}}>{{row.rateChange}}</a></td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</div>
